.form {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin: 0;
    background: white;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

.arrow {
    position: absolute;
    left: 16px;
    font-size: 20px;
    color: #e6e6e6;
    pointer-events: none;
  }

.input {
    width: 100%;
    padding: 16px 16px 16px 0;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    outline: none;
    background: white;
    color: #333;

    &::placeholder {
        color: #e6e6e6;
        font-style: italic;
    }
}
